---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/sections/banner.astro";
import Footer from "../components/sections/footer.astro";
import Home from "../components/sections/home.astro";
import Navbar from "../components/sections/navbar.astro";
import ContactoFloat from "../components/sections/ContactoFloat.astro";
import We from "../components/sections/We.astro";
import Info from "../components/sections/Info.astro";
---

<Layout title="Inker">
  <Navbar />
  <section id="home">
    <Home />
  </section>
  <section id="banner">
    <Banner />
  </section>
  <section id="nosotros">
    <We />
  </section>
  <section id="informacion">
    <Info />
  </section>
  <section id="contacto">
    <ContactoFloat />
  </section>
  <Footer />
</Layout>
