---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/sections/banner.astro";
import App from "../components/sections/app.astro";
import Footer from "../components/sections/footer.astro";
import Home from "../components/sections/home.astro";
import Nosotros from "../components/sections/nosotros.astro";
import Navbar from "../components/sections/navbar.astro";
import Informacion from "../components/sections/informacion.astro";
---

<Layout title="Inker">
  <Navbar />
  <section id="home">
    <Home />
  </section>
  <section id="banner">
    <Banner />
  </section>
  <section id="nosotros">
    <Nosotros />
  </section>
  <section id="informacion">
    <Informacion />
  </section>
  <section id="app">
    <App />
  </section>
  <Footer />
</Layout>
