---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/sections/Footer.astro";
import Home from "../components/sections/Home.astro";
import ContactoFloat from "../components/sections/ContactoFloat.astro";
import Info from "../components/sections/Info.astro";
import AboutUS from "../components/sections/AboutUS.astro";
import Navbar from "../components/sections/Navbar.astro";
import Banner from "../components/sections/Banner.astro";
---

<Layout title="Inker">
  <Navbar />
  <section id="home">
    <Home />
  </section>
  <section id="banner">
    <Banner />
  </section>
  <section id="nosotros">
    <AboutUS />
  </section>
  <section id="informacion">
    <Info />
  </section>
  <section id="contacto">
    <ContactoFloat />
  </section>
  <Footer />
</Layout>
