---
// Construction.astro
---
<style>
    .construction {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Ocupa toda la altura de la sección */
      background: linear-gradient(180deg, #001f3f, #004080); /* Gradiente azul oscuro */
      color: white; /* Texto blanco */
      font-size: 2rem; /* Tamaño del texto */
      text-align: center;
    }
  </style>
  
  <div class="construction">
    <h1>SITIO EN CONSTRUCCIÓN</h1>
  </div>